body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 22%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 59%, 41%);
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 59%, 70%);

}
button:active{
    background-color: hsl(0, 59%, 80%);
}

.operator-btn{
    background-color: hsl(134, 100%, 50%);
}

.operator-btn:hover{
    background-color: hsl(134, 100%, 60%);
}
.operator-btn:active{
    background-color: hsl(134, 100%, 67%);
}

